# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Renv folder
renv/

# Figures files
*.ai


# Heavy folders
# outputs/BAMM/*
# outputs/Biogeo/*
outputs/Morpho/*

# Heavy input files
input_data/Cerezer_2023_Neotropical_freshwater_fishes/Abiotic_factors/*
input_data/Cerezer_2023_Neotropical_freshwater_fishes/Biotic_factors/*
input_data/Cerezer_2023_Neotropical_freshwater_fishes/Sensitivity_test/*
input_data/Cerezer_2023_Neotropical_freshwater_fishes/Speciation_rates/DR/*
input_data/Cerezer_2023_Neotropical_freshwater_fishes/Speciation_rates/Geography_speciation/*
input_data/Cerezer_2023_Neotropical_freshwater_fishes/Statistics/*

input_data/Nelsen_2020/BAMM/bamm_medusa_med_families_40m_alt_fracs/*
input_data/Nelsen_2020/BayesTraits/*
input_data/Nelsen_2020/corHMM/*
input_data/Nelsen_2020/Data/Alignment_etc_for_ExaML/*
input_data/Nelsen_2020/treePL/*

input_data/Leroy_2019/*
# input_data/Morrone_2022/*

# Heavy output files
outputs/BAMM/BAMMdata_BEL.rds
outputs/BAMM/BAMMdata_BEL_full.rds
outputs/BAMM/BAMMdata_MBL.rds
outputs/BAMM/BAMMdata_MBL_full.rds
outputs/BAMM/BAMMdata_object_diversification_full.rds

outputs/BAMM_outputs/*
outputs/BAMM_outputs/Skipper_*
outputs/BAMM_outputs/Snake_*
outputs/BAMM_outputs/Lepidosauria_*
outputs/BAMM_outputs/Bromeliaceae_*

outputs/Biogeo/Fish_deepSTRAPP_biogeo_0_50.rds
outputs/Biogeo/Fish_deepSTRAPP_biogeo_0_50_backup.rds
outputs/Biogeo/Fish_deepSTRAPP_biogeo_0_100.rds

outputs/Birds/Bird_BAMM_object.rds
outputs/Birds/Bird_BAMM_object_full.rds
outputs/Birds/Birds_deepSTRAPP_HSV_dist.rds
outputs/Birds/Birds_deepSTRAPP_Reflectance_dist.rds
outputs/Birds/Birds_deepSTRAPP_Stimulation_diff.rds
outputs/Birds/Birds_deepSTRAPP_Stimulation_diff_2.5.rds
outputs/Birds/Birds_deepSTRAPP_Stimulation_diff_one_tailed.rds

outputs/Lichens/Lichens_deepSTRAPP_Primary_Photobiont.rds
outputs/Lichens/Lichens_deepSTRAPP_Growth_form.rds
outputs/Lichens/Lichens_deepSTRAPP_Growth_form_one_tailed_0_240.rds
outputs/Lichens/Lichens_deepSTRAPP_Growth_form_one_tailed.rds
outputs/Lichens/Lichens_deepSTRAPP_Growth_form_0_200.rds