# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Renv folder
renv/

# Heavy folders
outputs/BAMM/*
outputs/Biogeo/*
outputs/Morpho/*



input_data/Cerezer_2023_Neotropical_freshwater_fishes/Abiotic_factors/*
input_data/Cerezer_2023_Neotropical_freshwater_fishes/All_data_combined/*
input_data/Cerezer_2023_Neotropical_freshwater_fishes/Biotic_factors/*
input_data/Cerezer_2023_Neotropical_freshwater_fishes/Datasets/*
input_data/Cerezer_2023_Neotropical_freshwater_fishes/Sensitivity_test/*
input_data/Cerezer_2023_Neotropical_freshwater_fishes/Speciation_rates/*
input_data/Cerezer_2023_Neotropical_freshwater_fishes/Statistics/*

input_data/Leroy_2019/*
# input_data/Morrone_2022/*
